.container{
  width: 400px;
  padding: 50px;
  font-family: bHomaCustomFont, serif;
}

.header{
  text-align: right;
  direction: rtl;
  width: 100%;
}

app-double-slider-bar{
  display: inline-block;
  position:relative;
  padding: 20px;
}
.price-bar{
  display: table;
  position:relative;
  padding: 20px;
  width: 100%;
}

.min{
  display: table-cell;
  text-align: right;
  direction: rtl;
}

.max{
  display: table-cell;
  text-align: left;
  direction: rtl;
}

